@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Zen+Dots&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gugi", sans-serif;
}

body {
    background: url(../../img/fondo.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    overflow-x: hidden;
}

nav {
    position: relative;
    z-index: 100;
}

.nav__pc {
    display: none;
}

.nav__title {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-three);
    background: var(--color-one);
    font-family: "Zen Dots", sans-serif;
}

.nav__title .bx-menu {
    position: absolute;
    left: 10px;
    font-size: 2em
}

.nav__title .bx-cart-alt {
    position: absolute;
    right: 10px;
    font-size: 2em
}

.nav__menuDesplegable {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height .5s ease;
    background-color: red;
}

.nav__menuDesplegable ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: var(--color-one);
    gap: 0;
}

.nav__menuDesplegable li {
    list-style: none;
    display: flex;
    justify-content: center;
    color: var(--color-three);
}

.nav__menuDesplegable li:active {
    background-color: var(--color-two);
}

.nav__menuDesplegable li a {
    color: var(--color-three);
    padding: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.container__main {
    backdrop-filter: blur(10px);
    background-color: rgba(128, 128, 128, 0.315);
    border: 5px solid white;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.555);
    border-radius: 30px;
    margin: 10px;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__main h1 {
    font-size: 1.5em;
    padding: 30px;
    text-align: center;
    color: var(--color-three);
    text-shadow:
        -1px -1px 10px #000000,
        1px -1px 10px #000000,
        -1px 1px 10px #000000,
        1px 1px 10px #000000;
}

.container__main::-webkit-scrollbar {
    display: none;
}

.main__products {
    display: grid;
    grid-template-columns: 82vw;
    grid-template-rows: repeat(auto-fill, 320px);
    justify-content: center;
    padding: 10px;
}

.products__item {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.315);
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 30px;
    height: 300px;
    overflow: hidden;
    text-transform: capitalize;
    justify-content: space-between;
    align-items: center;
}


.item__img {
    display: flex;
    justify-content: center;
    width: 1%;
    padding: 5px;
}

.item__img img {
    max-height: 200px;
    -webkit-user-drag: none;
    object-fit: cover;
}

.item__info {
    padding: 10px;
    background: var(--color-two);
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.item__info>h2 {
    font-size: 1.3em;
    text-align: center;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

.info__add>h2 {
    font-size: 1em;
}

.info__add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: white;
}

.info__add button {
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

.info__add button:hover {
    background-color: gray;
    cursor: pointer;

}

.container__mainCarrito {
    display: none;
    backdrop-filter: blur(10px);
    background-color: rgba(128, 128, 128, 0.315);
    border: 5px solid white;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.555);
    border-radius: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainCarrito__title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.container__mainCarrito h1 {
    font-size: 3em;
    color: var(--color-three);
    text-shadow:
        -1px -1px 10px #000000,
        1px -1px 10px #000000,
        -1px 1px 10px #000000,
        1px 1px 10px #000000;
}

.container__mainCarrito::-webkit-scrollbar {
    display: none;
}

.main__carrito {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 80%;
}


.carrito__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.315);
    margin: 10px;
    text-transform: capitalize;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    padding: 20px;
    width: 88vw;
    height: 490px;
    flex-direction: column;
    align-content: center;
    gap: 7px;

}

.item__imgCarrito {
    display: flex;
}

.item__imgCarrito img {
    width: 100px;
    max-height: 100px;
    -webkit-user-drag: none;
    object-fit: contain;
}

.item__nombreCarrito {
    font-size: 1.5em;
    width: 300px;
    text-align: center;
}

.item__nombreCarrito h2 {
    word-wrap: break-word;
}

.item__cantidadCarrito,
.item__precioCarrito,
.item__subTotalCarrito {
    font-size: 1.5em;
    text-align: center;
}

.item__cantidadCarrito div {
    background-color: var(--color-two);
    border-radius: 5px;
}

.item__eliminarCarrito i {
    font-size: 5em;
}

.item__eliminarCarrito i:hover {
    color: red;
    cursor: pointer;
}

.mainCarrito__total {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.mainCarrito__total button {
    border: 0;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.5em;
}

.mainCarrito__total>button:hover {
    cursor: pointer;
    background-color: var(--color-two);
}

.total__comprar {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: var(--color-two);
}

.comprar__precio {
    color: var(--color-three);
    width: 200px;
}

.btnComprar:hover {
    background-color: var(--color-one);
    color: var(--color-three);
    cursor: pointer;
}

.carritoVacio {
    display: none;
}

.carritoVacio p {
    padding-top: 200px;
    font-size: 3em;
    text-align: center;
}

@media (min-width: 985px) {
    body {
        background: url(../../img/fondo.png);
        background-size: cover;
        background-position: center center;
        display: block;
    }

    .nav__movile {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 300px 3fr;
        grid-template-rows: 1fr;
        height: 100%;
        padding: 40px;
    }

    .nav__pc {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 3em;
    }

    .nav__pc>* {
        margin-bottom: 50px;
        color: var(--color-three);
    }

    .pc__title {
        width: 100%;
        color: var(--color-three);
    }

    .pc__list {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .pc__list li {
        display: flex;
    }

    .pc__list li a {
        padding: 1em;
        text-decoration: none;
        color: var(--color-three);
        padding-right: 188px;
    }

    .pc__carrito {
        display: flex;
        align-items: center;
        gap: 1vw;
        cursor: pointer;
        position: relative;
    }

    .pc__carrito p {
        padding: 1em;
        text-decoration: none;
        color: var(--color-three);
        padding-right: 187px;
    }

    .pc__carrito div {
        position: absolute;
        right: 0;
        background-color: var(--color-three);
        color: var(--color-one);
        padding: 10px;
        border-radius: 7px;
    }

    .nav__pc p {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    .paginaElegida {
        backdrop-filter: blur(10px);
        outline: 1px solid white;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        background-color: #ffffff2a;
    }

    .container__main {
        backdrop-filter: blur(10px);
        background-color: rgba(128, 128, 128, 0.315);
        border: 5px solid white;
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.555);
        border-radius: 30px;
        overflow-y: scroll;
        width: auto;
        z-index: 100;
        margin: 0;
        display: block ;
    }

    .container__main h1 {
        font-size: 3em;
        padding: 30px;
        text-align: center;
        color: var(--color-three);
        text-shadow:
            -1px -1px 10px #000000,
            1px -1px 10px #000000,
            -1px 1px 10px #000000,
            1px 1px 10px #000000;
    }

    .container__main::-webkit-scrollbar {
        display: none;
    }

    .main__products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fill, 320px);
        padding: 10px;
    }

    .products__item {
        border: 2px solid white;
        background-color: rgba(0, 0, 0, 0.315);
        display: flex;
        flex-direction: column;
        margin: 10px;
        border-radius: 30px;
        height: 300px;
        overflow: hidden;
        text-transform: capitalize;
        align-items: normal;
    }

    .item__img {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px;
    }

    .item__img img {
        max-height: 200px;
        -webkit-user-drag: none;
        object-fit: cover;
    }

    .item__info {
        padding: 10px;
        background: var(--color-two);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .item__info>h2 {
        font-size: 1.3em;
        text-align: center;
        text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
    }

    .info__add>h2 {
        font-size: 1em;
    }

    .info__add {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        color: white;
    }

    .info__add button {
        border: 0;
        border-radius: 5px;
        padding: 10px;
    }

    .info__add button:hover {
        background-color: gray;
        cursor: pointer;

    }

    .container__mainCarrito {
        display: none;
        backdrop-filter: blur(10px);
        background-color: rgba(128, 128, 128, 0.315);
        border: 5px solid white;
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.555);
        border-radius: 30px;
        overflow-y: scroll;
    }

    .container__mainCarrito h1 {
        font-size: 3em;
        text-align: center;
        color: var(--color-three);
        text-shadow:
            -1px -1px 10px #000000,
            1px -1px 10px #000000,
            -1px 1px 10px #000000,
            1px 1px 10px #000000;
    }

    .container__mainCarrito::-webkit-scrollbar {
        display: none;
    }

    .main__carrito {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
    }


    .carrito__item {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        border-radius: 30px;
        border: 2px solid white;
        background-color: rgba(0, 0, 0, 0.315);
        text-transform: capitalize;
        text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
        width: 100%;
        height: 200px;
        gap: 0 25px;
    }

    .item__imgCarrito {
        display: flex;
    }

    .item__imgCarrito img {
        width: 100px;
        max-height: 100px;
        -webkit-user-drag: none;
        object-fit: contain;
    }

    .item__nombreCarrito {
        font-size: 1.5em;
        width: 300px;
    }

    .item__nombreCarrito h2 {
        word-wrap: break-word;
    }

    .item__cantidadCarrito,
    .item__precioCarrito,
    .item__subTotalCarrito {
        font-size: 1.5em;
        text-align: center;
    }

    .item__cantidadCarrito div {
        background-color: var(--color-two);
        border-radius: 5px;
    }

    .item__eliminarCarrito i {
        font-size: 5em;
    }

    .item__eliminarCarrito i:hover {
        color: red;
        cursor: pointer;
    }

    .mainCarrito__total {
        position: sticky;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .mainCarrito__total button {
        border: 0;
        height: 50px;
        width: 230px;
        border-radius: 5px;
        font-size: 1.5em;
    }

    .mainCarrito__total>button:hover {
        cursor: pointer;
        background-color: var(--color-two);
    }

    .total__comprar {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 10px 30px;
        border-radius: 10px;
        background-color: var(--color-two);
    }

    .comprar__precio {
        color: var(--color-three);
        width: auto;
    }

    .btnComprar:hover {
        background-color: var(--color-one);
        color: var(--color-three);
        cursor: pointer;
    }

    .carritoVacio {
        display: none;
    }

    .carritoVacio p {
        padding-top: 200px;
        font-size: 3em;
        text-align: center;
    }
}